#!/bin/bash
#
#  Copyright (C) 2020 PublicLeech Authors
#  This program is free software: you can redistribute it and/or modify
#  it under the terms of the GNU Affero General Public License as published by
#  the Free Software Foundation, either version 3 of the License, or
#  (at your option) any later version.
#  This program is distributed in the hope that it will be useful,
#  but WITHOUT ANY WARRANTY; without even the implied warranty of
#  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#  GNU Affero General Public License for more details.
#  You should have received a copy of the GNU Affero General Public License
#  along with this program.  If not, see <https://www.gnu.org/licenses/>.
#
# All rights reserved.

# Please read the README to understand each variable values.

# ----------- REQUIRED ----------- #

TG_BOT_TOKEN=
APP_ID=6
API_HASH=
AUTH_CHANNEL=-1001241841717 -1001384772439 1402421781

# ----------- OPTIONAL ----------- #

SHOULD_USE_BUTTONS=False
ARIA_TWO_STARTED_PORT=6800
EDIT_SLEEP_TIME_OUT=5
MAX_TIME_TO_WAIT_FOR_TORRENTS_TO_START=600
FINISHED_PROGRESS_STR=█
UN_FINISHED_PROGRESS_STR=░
R_CLONE_CONF_URI=https://t.me/c/1241841717/7132
R_CLONE_DEST=/Untitled
DOWNLOAD_LOCATION=./DOWNLOADS
MAX_FILE_SIZE=50000000
TG_MAX_FILE_SIZE=2097152000
FREE_USER_MAX_FILE_SIZE=50000000
MAX_TG_SPLIT_FILE_SIZE=1900000000
MAX_MESSAGE_LENGTH=4096
PROCESS_MAX_TIMEOUT=3600
SP_LIT_ALGO_RITH_M=hjs
TG_OFFENSIVE_API=None
CHUNK_SIZE=128
DIS_ABLE_ST_GFC_COMMAND_I=False
SLEEP_THRES_HOLD=5
SUDO_USERS=1402421781
